{% extends "index.html" %}
{% block main %}
<div class="app">
    <div class="item">
        <img src="../static/img/CPT.jpg" alt="Bussiness Cards">
        <p>Bussiness Cards</p>
    </div>
    <div class="item">
        <img src="../static/img/CPT.jpg" alt="Bussiness Cards">
        <p>Bussiness Cards</p>
    </div>
    <div class="item">
        <img src="../static/img/CPT.jpg" alt="Bussiness Cards">
        <p>Bussiness Cards</p>
    </div>
    <div class="item">
        <img src="../static/img/CPT.jpg" alt="Bussiness Cards">
        <p>Bussiness Cards</p>
    </div>
</div>
{% endblock%}