{% extends "index.html" %}
{% block main %}
<div class="app">
    <div class="item">
        <img src="../static/img/Cap2.jpg" alt="Caps">
        <p>Caps</p>
    </div>
    <div class="item">
        <img src="../static/img/White Mug.jpg" alt="White Mugs">
        <p>White Mugs</p>
    </div>
    <div class="item">
        <img src="../static/img/Magic Mug.jpg" alt="Magic Mugs">
        <p>Magic Mugs</p>
    </div>
    <div class="item">
        <img src="../static/img/ICM3.jpg" alt="Inside color Mugs">
        <p>Inside Color Mugs</p>
    </div>
    <div class="item">
        <img src="../static/img/Frames.jpg" alt="Frames">
        <p>Frames</p>
    </div>
    <div class="item">
        <img src="../static/img/" alt="Slippers">
        <p>Slippers</p>
    </div>
</div>
{% endblock%}