<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <title>TouchWood Graphics</title>
  </head>
  <body>
    <header>
      <div class="top">
        <div class="left">
          <div class="logo">
            <img
              src="../static/img/Logo.png"
              alt="TW Graphics"
              height="60"
              width="100"
            />
          </div>
          <div class="vr"></div>
          <div class="txt">A Step Towards Your Customization</div>
        </div>
        <div class="right">
          <form action="#">
            <input type="search" placeholder="Search Bar" />
            <button type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="nav">
        <nav>
          <a href="#">HOME</a>
          <!-- <div class="hr"></div> -->
          <a href="#">APPARELS</a>
          <!-- <div class="hr"></div> -->
          <a href="#">BUSINESS ESSENTIALS</a>
          <!-- <div class="hr"></div> -->
          <a href="#">CUSTOMISE GIFTS</a>
          <!-- <div class="hr"></div> -->
          <a href="#">SIGNAGES</a>
          <!-- <div class="hr"></div> -->
          <a href="#">DESIGNING SERVICES</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="services">
        <div class="item">
          <img src="../static/img/Apparels.png" alt="Apparels" />
          <p>Apparels</p>
        </div>
        <div class="item">
          <img
            src="../static/img/Business Essentials.png"
            alt="Business Essentials"
          />
          <p>Business Essentials</p>
        </div>
        <div class="item">
          <img src="../static/img/Customised Gift.png" alt="Customised Gifts" />
          <p>Customised Gifts</p>
        </div>
      </div>
      <div class="offer">
        <div class="slide-wrapper">
          <div class="slide">
            <img src="" alt="offer1" />
          </div>
          <div class="slide">
            <img src="" alt="offer2" />
          </div>
          <div class="slide">
            <img src="" alt="offer3" />
          </div>
          <div class="slide">
            <img src="" alt="offer4" />
          </div>
        </div>
      </div>
      <div class="help">
        <div class="helpdesk">
          <h2>HELP DESK</h2>
          <div class="block">
            <div class="fa">
              <i class="fa-solid fa-phone"></i>
            </div>
            <h3>Call Us</h3>
            <p>+91 70652 89154</p>
            <p>+91 75506 86594</p>
            <p>+91 85120 89738</p>
          </div>
          <div class="block">
            <div class="fa">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <h3>Mail Us</h3>
            <p>touchwoodfashionhelp.com</p>
          </div>
          <div class="block">
            <div class="fa">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <h3>Visit Us</h3>
            <p>
              A1, Harkesh Nagar, Okhla Phase 2, Near Ganga Dairy New Delhi
              110020
            </p>
          </div>
        </div>
        <div class="chat"><h3>Chat Now</h3></div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
