{% extends "index.html" %}
{% block main %}
<div class="app">
    <div class="item">
        <img src="../static/img/Rollup Banner.jpg" alt="Roll-Up Banners">
        <p>Roll-Up Banners</p>
    </div>
    <div class="item">
        <img src="../static/img/Rollup Standee1.jpg" alt="Roll-Up Standee">
        <p>Roll-Up Standee</p>
    </div>
</div>
<div id="Banner">
    <img src="../static/img/Rollup Banner1.jpg" alt="Banner">
    <div>

        <table>
            <tr>
            <th>Size/Quantity</th>
            <th>1</th>
            <th>5</th>
            <th>15</th>
            <th>Above 15</th>
        </tr>
        <tr>
            <th>A2</th>
            <td>200</td>
            <td>180</td>
            <td>160</td>
            <td>130</td>
        </tr>
        <tr>
            <th>A1</th>
            <td>250</td>
            <td>230</td>
            <td>200</td>
            <td>180</td>
        </tr>
        <tr>
            <th>A0</th>
            <td>450</td>
            <td>430</td>
            <td>400</td>
            <td>380</td>
        </tr>
    </table>
    <p>*Custom Size availabel<br>All prices in Rupees</p>
    </div>
</div>
{% endblock%}